In [6]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [7]:
# read in raw csv file "SAV4_file_raw_data"
df = pd.read_csv("/Users/mrsmclean/Desktop/pt-scraper-project-2/imclean/SAV4_file_raw_data.csv")
df

           item_number  new_item_number  dash  total_650K
0     N97500-170-00001              NaN   NaN           0
1     N97500-145-00250              NaN   NaN         586
2     N97500-098-00011              NaN   NaN           0
3     N97500-082-00001              NaN   NaN           0
4         N93800-48003              NaN   NaN           0
...                ...              ...   ...         ...
2485  030123-003-06301              NaN   NaN           0
2486  030123-003-07301              NaN   NaN           0
2487  030123-003-08301              NaN   NaN           0
2488  030123-006-05300              NaN   NaN           0
2489  014496-543-30005              NaN   NaN           0

[2490 rows x 4 columns]

In [15]:
# drop 0 values in Total_650K\n
# clean_df =df[df['Total_650K\n'] !=0]
# clean_df

In [16]:
# clean_df = df[df['Item_number'] == 'new_item_number'].copy()
# clean_df

# new data frame with split value columns
# new_clean_df = clean_df["Item_number"].str.split("-", n = 1, expand = True)
  
# # making separate first name column from new data frame
# clean_df["new_item_number"]= new_clean_df[0]
  
# # making separate last name column from new data frame
# clean_df["dash"]= new_clean_df[1]

# new_clean_df

In [18]:
# clean_df.append(new_clean_df)

In [8]:
# export cleaned_csv_colour_conversion_item.csv
clean_df.to_csv("/Users/mrsmclean/Desktop/pt-scraper-project-2/T_data/cleaned_SAV4_file_raw_ data.csv", index=False)

NameError: name 'clean_df' is not defined