In [16]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [17]:
# read in raw csv file "SAV4_file_raw_data"
df = pd.read_csv("/Users/mrsmclean/Desktop/pt-scraper-project-2/imclean/SAV4_file_raw_data.csv")
df

           item_number  new_item_number  dash  total_650K
0     N97500-170-00001              NaN   NaN           0
1     N97500-145-00250              NaN   NaN         586
2     N97500-098-00011              NaN   NaN           0
3     N97500-082-00001              NaN   NaN           0
4         N93800-48003              NaN   NaN           0
...                ...              ...   ...         ...
2485  030123-003-06301              NaN   NaN           0
2486  030123-003-07301              NaN   NaN           0
2487  030123-003-08301              NaN   NaN           0
2488  030123-006-05300              NaN   NaN           0
2489  014496-543-30005              NaN   NaN           0

[2490 rows x 4 columns]

In [18]:
 df.groupby(by='item_number')

In [19]:
df

           item_number  new_item_number  dash  total_650K
0     N97500-170-00001              NaN   NaN           0
1     N97500-145-00250              NaN   NaN         586
2     N97500-098-00011              NaN   NaN           0
3     N97500-082-00001              NaN   NaN           0
4         N93800-48003              NaN   NaN           0
...                ...              ...   ...         ...
2485  030123-003-06301              NaN   NaN           0
2486  030123-003-07301              NaN   NaN           0
2487  030123-003-08301              NaN   NaN           0
2488  030123-006-05300              NaN   NaN           0
2489  014496-543-30005              NaN   NaN           0

[2490 rows x 4 columns]

df.to_csv("/Users/mrsmclean/Desktop/pt-scraper-project-2/T_data/cleaned_SAV4_file_raw_ data.csv", index=False)

In [20]:
df.to_csv("/Users/mrsmclean/Desktop/pt-scraper-project-2/T_data/csv_cleaned_SAV4_file_raw_data.csv", index=False)