In [15]:
import csv
import pandas as pd

with open ("JDC_addtions.csv") as file:
    csvreader=csv.reader(file, delimiter=',')
    header=next(csvreader)

In [27]:
data=pd.read_csv("JDC_addtions.csv")
data.head()
data.drop(['Project'], axis=1, inplace=True)
data.drop(['Project Name'], axis=1, inplace=True)
data.drop(['Activity'], axis=1, inplace=True)
data.drop(['Date'], axis=1, inplace=True)
data.drop(['Library Identifier'], axis=1, inplace=True)
data.drop(['Libary Revision'], axis=1, inplace=True)
data.drop(['VI number'], axis=1, inplace=True)
data.drop(['VI#123'], axis=1, inplace=True)
data.drop(['VI#'], axis=1, inplace=True)
data.drop(['VI#1'], axis=1, inplace=True)
data.drop(['VI#2'], axis=1, inplace=True)
data.drop(['VI#3'], axis=1, inplace=True)
data.drop(['Component'], axis=1, inplace=True)
data.drop(['Component identifier'], axis=1, inplace=True)
data.drop(['Parent mark code'], axis=1, inplace=True)
data.drop(['Item description'], axis=1, inplace=True)
data.drop(['Item type'], axis=1, inplace=True)
data.drop(['Quantity'], axis=1, inplace=True)
data.drop(['Initials'], axis=1, inplace=True)
data.drop(['Category'], axis=1, inplace=True)
data.drop(['Mark code'], axis=1, inplace=True)
data.drop(['Motor power'], axis=1, inplace=True)
data.drop(['Required motor power'], axis=1, inplace=True)
data.drop(['Width'], axis=1, inplace=True)
data.drop(['Motor reducer'], axis=1, inplace=True)
data.drop(['Brake'], axis=1, inplace=True)
data.drop(['Model'], axis=1, inplace=True)
data.drop(['Activity Split Up Description'], axis=1, inplace=True)
data.drop(['Quantity_X RevB'], axis=1, inplace=True)
data.drop(['Quantity_X RevC'], axis=1, inplace=True)
data.drop(['Notes'], axis=1, inplace=True)
data.drop(['MECH'], axis=1, inplace=True)



data.head()

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (7,8,9,10,11,22,31) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

        Item number  Tot_BL_Qty RevB
0      001693-50000             12.0
1  009249-677-20612              6.0
2  012632-157-00001              6.0
3  012632-998-00001             48.0
4      002372-00507            156.0