In [1]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

### csv_colour_conversion_item.csv

In [2]:
# read in raw csv file "csv_colour_conversion_item.csv"
df = pd.read_csv("../data/csok_data/csv_colour_conversion_item.csv", encoding = "utf8")
df

,Parent Itemnumber,Child Itemnumber,Item description,Itemnumber,Conversion,Conversion Required,Unnamed: 6,Points of Attention,Amazon,Used in Amazon,...,Total number of Objects.1,Unidentified Objects [0/1].1,Conversion Required = No [0/1].1,Conversion Required = Yes [0/1].1,Conversion Required =? [0/1].1,In Analysis.1,OK to start Conversion = Yes [0/1].1,In Progress [0/1].1,Ready for Release [0/1].1,Released [0/1].1
0,[:::::::] = duplicate,[::::::] = duplicate,NaN,NaN,Scope,NaN,NaN,NaN,Set,2022 Bundle,...,5760.0,0.0,3481.0,2220.0,59.0,172.0,2048.0,57.0,0.0,1991.0
1,000000-00154,NaN,Power supply IP54 IN/OUT 400Vac/24Vdc 960W,000000-00154,NaN,No,No Fixed Coloured Items,NaN,Yes,NaN,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,000000-00159,NaN,Emergency stop push button red ?40mm in enclos...,000000-00159,NaN,No,No Fixed Coloured Items,NaN,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,000000-00209,NaN,Adaptor M8 male 4p straight / M8 female 3p str...,000000-00209,NaN,No,No Fixed Coloured Items,NaN,Yes,NaN,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,000000-00265,NaN,"Connector M12 female 5p straight 0,14-1,5mmý s...",000000-00265,NaN,No,No Fixed Coloured Items,NaN,Yes,NaN,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8227,PG_006881-50135,NaN,Inner bearing adapter,PG_006881-50135,NaN,No,No Fixed Coloured Items,NaN,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8228,PG_006881-50136,NaN,Outer bearing adapter,PG_006881-50136,NaN,No,No Fixed Coloured Items,NaN,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8229,PG_006881-50137,NaN,Brake pulley adapter,PG_006881-50137,NaN,No,No Fixed Coloured Items,NaN,No,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8230,NaN,NaN,Weldment upper crossmember,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8231,NaN,NaN,Assy pressure unit for BOR brake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# clean dataframe keeping only required columns df[['C','D','Y']]
new_df = df[["Item description", "Itemnumber", "dotM: 026208 range"]]
new_df

,Item description,Itemnumber,dotM: 026208 range
0,NaN,NaN,Loop: 013491 range
1,Power supply IP54 IN/OUT 400Vac/24Vdc 960W,000000-00154,NaN
2,Emergency stop push button red ?40mm in enclos...,000000-00159,NaN
3,Adaptor M8 male 4p straight / M8 female 3p str...,000000-00209,NaN
4,"Connector M12 female 5p straight 0,14-1,5mmý s...",000000-00265,NaN
...,...,...,...
8227,Inner bearing adapter,PG_006881-50135,NaN
8228,Outer bearing adapter,PG_006881-50136,NaN
8229,Brake pulley adapter,PG_006881-50137,NaN
8230,Weldment upper crossmember,NaN,NaN
8231,Assy pressure unit for BOR brake,NaN,NaN

In [4]:
# drop na
clean_df = new_df.dropna()
clean_df

                         Item description  Itemnumber dotM: 026208 range
955                   Support with damper  001057-011         026205-926
956                  Plate for R3 support  012632-700         026205-001
958                  Assy fixed side stop  001285-016         026205-002
959           Mounting support fixed stop  001285-017         026205-003
962   Assy Indication pole emergency stop  001388-212         026205-747
...                                   ...         ...                ...
8008         90ø Connection Bracket Right  012632-548         026205-181
8009             Assy end stop tote chute  017847-008         026208-123
8010                Assy MSC and GR chute  017847-007         026208-124
8100    Assy, joining plate reinforcement  N23032-002         026205-566
8101          Joining Plate Reinforcement  009249-766         026205-466

[2811 rows x 3 columns]

In [5]:
# rename columns in DataFrame if needed
clean_df = clean_df.rename(columns={"Item description": "item_description", "Itemnumber": "item_number", "dotM: 026208 range": "new_partgroup_number"})
clean_df = clean_df.drop(columns=["item_description"])

clean_df

     item_number new_partgroup_number
955   001057-011           026205-926
956   012632-700           026205-001
958   001285-016           026205-002
959   001285-017           026205-003
962   001388-212           026205-747
...          ...                  ...
8008  012632-548           026205-181
8009  017847-008           026208-123
8010  017847-007           026208-124
8100  N23032-002           026205-566
8101  009249-766           026205-466

[2811 rows x 2 columns]

In [6]:
clean_df.groupby(by="item_number")

In [7]:
clean_df

     item_number new_partgroup_number
955   001057-011           026205-926
956   012632-700           026205-001
958   001285-016           026205-002
959   001285-017           026205-003
962   001388-212           026205-747
...          ...                  ...
8008  012632-548           026205-181
8009  017847-008           026208-123
8010  017847-007           026208-124
8100  N23032-002           026205-566
8101  009249-766           026205-466

[2811 rows x 2 columns]

In [8]:
# export cleaned_csv_colour_conversion_item.csv

"""
column names:  
** Column D - item_number
** Column Y - new_partgroup_number
"""

clean_df.to_csv("../T_data/cleaned_csv_colour_conversion_item.csv",encoding = "utf8", sep=",", index=False, header=True)

### csv_800K_additions.csv

In [9]:
# 800K_additions.csv

k_df = pd.read_csv("../data/csok_data/csv_800K_additions.csv", encoding = "utf-8")
k_df

,Source.Name.1,Item number,Item description,Item type,Total 650 to 800
0,f_SAV4 24854,009249-018-13082,I - Assy ARP pressure unit,original,0
1,f_SAV4 24854,010193-021-03082,Assy NC ARP pressure unit without brake,replacement,0
2,f_SAV4 24854,013064-936-00001,Assy 5/2 Valve for ARP,predefined,0
3,f_SAV4 24854,009249-018-13082,I - Assy ARP pressure unit,original,0
4,f_SAV4 24854,010193-021-03082,Assy NC ARP pressure unit without brake,replacement,0
...,...,...,...,...,...
153258,f_SAV4 24854,009249-468-00520,Side safety cover 90ø transfer MB,predefined,0
153259,f_SAV4 24854,009249-640-11069,Assy Drive Train MD 90ø Transfer SEW (US) IE3,predefined,0
153260,f_SAV4 24854,012632-043-13000,Assy MD Angle=90ø transfer L=797 W=520,predefined,0
153261,f_SAV4 24854,012632-683-00001,Assy Standard Fasteners M10,predefined,0
153262,f_SAV4 24854,013064-749-00795,assy fingerprotection MB channel,predefined,0

In [10]:
# clean dataframe keeping only required columns k_df[['B','E']]
new_k_df = k_df[["Item number", "Total 650 to 800"]]
new_k_df

             Item number  Total 650 to 800
0       009249-018-13082                 0
1       010193-021-03082                 0
2       013064-936-00001                 0
3       009249-018-13082                 0
4       010193-021-03082                 0
...                  ...               ...
153258  009249-468-00520                 0
153259  009249-640-11069                 0
153260  012632-043-13000                 0
153261  012632-683-00001                 0
153262  013064-749-00795                 0

[153263 rows x 2 columns]

In [11]:
# drop na
clean_k_df = new_k_df.dropna()
clean_k_df

             Item number  Total 650 to 800
0       009249-018-13082                 0
1       010193-021-03082                 0
2       013064-936-00001                 0
3       009249-018-13082                 0
4       010193-021-03082                 0
...                  ...               ...
153258  009249-468-00520                 0
153259  009249-640-11069                 0
153260  012632-043-13000                 0
153261  012632-683-00001                 0
153262  013064-749-00795                 0

[153263 rows x 2 columns]

In [12]:
# rename columns in DataFrame if needed
clean_k_df = clean_k_df.rename(columns={"Item number": "item_number", "Total 650 to 800": "total_650_to_800"})
clean_k_df

             item_number  total_650_to_800
0       009249-018-13082                 0
1       010193-021-03082                 0
2       013064-936-00001                 0
3       009249-018-13082                 0
4       010193-021-03082                 0
...                  ...               ...
153258  009249-468-00520                 0
153259  009249-640-11069                 0
153260  012632-043-13000                 0
153261  012632-683-00001                 0
153262  013064-749-00795                 0

[153263 rows x 2 columns]

In [13]:
clean_k_df.groupby(by="item_number").sum()

                  total_650_to_800
item_number
000000-01831                    13
000000-01958                     0
000000-02188                     0
000000-02459                     0
000000-04721                     0
...                            ...
N07802-001-31200                 0
N07802-001-61200                 0
N07802-001-61500                 1
N23032-002-00001               192
N97500-145-00250                56

[1582 rows x 1 columns]

In [14]:
# export cleaned_csv_800K_additions.csv

"""
column names:  
** Column B - item_number
** Column E - total_650_to_800
"""

clean_k_df.to_csv("../T_data/cleaned_csv_800K_additions.csv", encoding = "utf8", sep=",", index=False, header=True)